.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (--lg-viewport) { 
    width: 48%;
  }
  & h2 {
    width: 100%;
  }
  & ul {
    width: 100%;
    padding-left: 3rem;
    margin: calc(var(--spacing-lg) *2) 0;

    & li {
      width: 100%;
      color: var(--mint-cream);
      font-weight: 500;
      list-style: disc;
      padding: var(--spacing-sm);	
    }
  }
}