.intro {
  position: relative;
	display: flex;
	flex-direction: column;
	height: calc(100vh - var(--header-height));
  z-index: 3;
  
  & .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
		align-items: center;
		height: 80vh;

    @media (--lg-viewport) { 
      flex-direction: row;
    }

    @media (--md-viewport) { 
      height: 100vh;
    }
    
    & img {
      width: 100%;
      object-fit: cover;
      object-position: center;

      @media (--lg-viewport) { 
        object-position: top;
      }
    }

    & .info {
      padding: calc(var(--spacing-lg) * 2);
      
      & h1 span {
        color: var(--pastel-red);
      }
      & p {}

      & .contact {
        display: flex;
        flex-direction: column;
        & a {
          color: var(--medium-turquiose);
          text-decoration: none;
        }
      }
    }
  }
}