a {
	display: flex;
  align-items: center;
	font-size: 1.25rem;
	text-transform: uppercase;
	text-decoration: none;
	height: var(--header-height);
	padding: 0 var(--spacing-sm);

	&:hover, &:active, &.active {
		background-color: color-mod(var(--maize) blackness(5%));
		color: var(--mint-cream);
	}
}