.link {
	display: flex;
	align-items: center;
	color: var(--pastel-red);
	font-size: 1.25rem;
	text-transform: uppercase;
	text-decoration: none;
	height: var(--header-height);
	padding: 0 var(--spacing-lg);

	&:hover, &:active, &.active {
		background-color: color-mod(var(--maize) blackness(5%));
		color: var(--mint-cream);
	}
}